LITESTAR_PORT=8000

SECRET_KEY="password here"

AUTH_SERVICE_URL="http://127.0.0.1:8001"
STATS_SERVICE_URL="http://127.0.0.1:8002"
INVENTORY_SERVICE_URL="http://127.0.0.1:8003"  
ROOMS_SERVICE_URL ="http://127.0.0.1:8004"
